.clouds{

    &__container{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        height: 400px;
    }

    &__one{
        background-image: url('/images/desktop/image-gallery-milkbottles.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }

    &__two{
        background-image: url('/images/desktop/image-gallery-orange.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    &__three{
        background-image: url('/images/desktop/image-gallery-cone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__four{
        background-image: url('/images/desktop/image-gallery-sugarcubes.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}