
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(210, 4%, 67%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$darkgrayishBlue: hsl(232, 10%, 55%);
$yellow: hsl(51, 100%, 49%);
$softRed: hsl(7, 99%, 70%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);